<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>
    </h1>

    <%= render "shared/nav", user: @user %>
  </div>
</div>

<div class="list-group">
  <ul class="list-group">
  <% @user.leaders.each do |leader| %>
    <li class="list-group-item"><%= leader.username %></li>
  <% end %>
  </ul>
</div>