<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      discover
    </h1>

    <h3>
      posts liked by people you follow_requests
    </h3>
    
  </div>
</div>

<% current_user.discover.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>