<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      feed
    </h1>

    <%= render "shared/nav", user: current_user %>
  </div>
</div>

<% current_user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>